.details{
    background: white;
    border-radius:5px;
    width: 800px;
    height: 120px;
   margin-top: -30px;
    padding: 1% 3%; 
    margin-left: 250px;
    position:absolute;
    z-index: 1;  
}
.details h1{
    text-align: center;
}
.search{
    display: flex;
}
.search input{
    width: 700px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid grey;
    padding: 0 15px;
}
.search button{
    background-color: rgb(109, 226, 109);
    width: 70px;
    border-radius: 5px;
    
}
@media only screen and (max-width:768px){
    .details{
        width:100% !important;
        height: 150px;
        flex-wrap:wrap;
        margin: auto;
        margin-top: -5%;
        
    }
    .details .search{
        width:100%;
    }
    .search{
        margin:0;
        padding:0;
        flex-wrap:wrap;
    }
    .search input{
        width:300px;
    }
    .search button{
        margin-left:100px;
        margin-top:1%;

    }
    
}