.container {
  width: 100% !important;
  height: 450px;
  background-color: rgba(12, 12, 12, 0.925);
  border-radius: 10px;
  margin: 10px 0px;
  overflow: hidden;
  cursor: pointer;
}
.container img {
  width: 100%;
}
.container h3 {
  padding: 0 20px;
  color: rgb(73, 148, 73);
}
.container h3:hover {
  color: white;
}
.container p {
  padding: 0 20px;
  color: white;
}
.container button {
  margin: 0 20px;
  background-color: none;
  border-radius: 7px;
  width: 130px;
  height: 40px;
  background-color: black;
  border: 1px solid rgb(68, 121, 68);
  color: white;
  cursor: pointer;
}
.container button:hover {
  color: rgb(69, 117, 69);
  background-color: lemonchiffon;
}
